@import url('https://fonts.googleapis.com/css?family=Fauna+One|Raleway&display=swap');

:root{
    /* colors */
    --title-font: 'fauna one', serif;
    --content-font: 'raleway', sans-serif;
    --flat-color-one: rgba(237, 227, 236, 1);
    --flat-color-two: rgba(242, 242, 242, 0.5);
    --flat-color-three:rgba(65, 82, 86, 1);
    --flat-color-three-o:rgba(65, 82, 86, 0.8);
    --flat-color-four: rgba(146, 220, 229, 1);
    --flat-color-five: rgba(173, 59, 31, 1);
}

        /* General settings */

html, html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-color: var(--flat-color-one);
    width: 100%;
    display: flex;
    justify-content: center;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--flat-color-three);
    background-color: rgb(170,185,178);
    background: url(/images/pino-neblina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.5rem;
    font-weight: bolder;
}
h2{
    font-size: 1.3rem;
    font-weight: bolder;
}
h3{
    font-size: 1.2rem;
    font-weight: bolder;
}
h4{
    font-size: 1rem;
    font-weight: bolder;
}
h1,h2 {
    font-family: var(--title-font);
}
h3,h4 {
    font-family: var(--content-font);
}
p,span,li,label, input, select, option,textarea {
    font-family: var(--content-font);
    font-size: 1.2rem;
    font-weight: bolder;
}

        /* Styles */

input, textarea, select{
    padding: 0.5em;
    border-radius: 10px;
    border: none;
}

label, input, textarea,select {
    margin: 0 1em 0.5em;
}

select{
    color: rgb(92, 92, 92);
}

        /* Container page */

.survey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    box-shadow: 0 20px 2px 3px rgba(0,0,0,0.2),
                0 5px 5px 2px rgba(0,0,0,.3);
    border-radius: 10px;
    width: 50vw;
    margin: 1.25em 0;
}

        /*  Survey body:  header */

.survey__header{
    text-align: center;
    text-transform: capitalize;
    background: var(--flat-color-three);
    width: 50vw;
    padding: 1em;  
    position: relative; 
    border-radius: 10px 10px 0 0 ;
}

.survey__header h1{
 color: whitesmoke;
 font-size: 2em;
 margin: 1em 0 0.5em;
}

.survey__header p {
    font-style: italic;
    color: var(--flat-color-one);
    font-weight: bolder;
    margin: 1em 0 0.5em;
    font-size: 1em;
}
        /*  Survey body:  content */
        
.survey__content{
    background: var(--flat-color-three-o);
    width: 50vw;
    border-radius: 0 0 10px 10px ;
    color: var(--flat-color-one);
    padding-bottom: 1em;
}
        /* Form content and items inside content (body) */

.content__form{
    width: 100%;
}
.content__items{
    border-radius: 15px;
    padding: 0.5em;
    width: 100%;
    margin: 0 ;
    display: flex;
    flex-direction: column;
}
.content__items input,select,textarea {
    font-size: 1rem;
}
        /* Checkbox buttons section */

.checkbox__container{
    display: flex;
    flex-direction: column;
}
.checkbox__container h3 {
    margin-left: 1em;
    font-size: 1.25rem;
}
.checkbox__container .checkbox__items{
    margin: 1em 1em 0;
}
.checkbox__items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.checkbox__items div{
    display: flex;
}
.checkbox__items div label{
    margin-right: auto;
    text-transform: capitalize;
    font-size: 0.9em;
}
.checkbox__items div input{
    margin-right: 2em;
}

        /* Radio buttons section */

.radio__container{
    display: flex;
    flex-direction: column;
}
.radio__container h3 {
    margin-left: 1em;
    font-size: 1.2rem;
}   
.radio__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.radio__items div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.content__items button {
    width: 20vw;
    margin:  0 auto;
    border-radius: 5px;
    padding: 1em;
    color: rgba(237, 227, 236, 1);
    background-color: rgb(177, 70, 43);
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--content-font);
    box-shadow: 0 2px 2px 0 rgba(14, 13, 13,0.5),
                0 3px  3px 0 rgba(0,0,0,.3);
    transition: all 0.1s ease-in ;
}
.content__items button:hover {
    transform: scale(1.02);
    background-color: rgb(157, 50, 23);
    box-shadow: 0 2px 5px 0 rgba(14, 13, 13,0.5),
    0 3px  5px 0 rgba(0,0,0,.3);
}
.content__items button:active {
    transform: scale(0.98);
    box-shadow: 0 1px 2px 0 rgba(14, 13, 13,0.7),
    0 1px  3px 0 rgba(0,0,0,.5);
}


@media screen and (max-width: 698px){
    .survey, .survey >* {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .survey__header,.survey__content{
        width: 100%;
    }
}